  
.body {
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(218deg 50% 91%);
    height: 100vh;
    margin: 0;
  }
  
  .screen1 {
    background: hsl(213deg 85% 97%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    gap: 2em;
    width:100%;
  }
  
  .svg {
    margin-top: -3em;
  }
  
  .email, .password {
    background: hsl(0deg 0% 100%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
    width: 50%;
    align-self: center;
  }
  
  .email input, .password input {
    outline: none;
    border: none;
    padding: 0.8em;
    border-radius: 10px;
    font-size: 1em;
    width: 100%;
    align-self: center;
  }
  
  
  .password .showHide {
    cursor: pointer;
  }
  
  .login {
    padding: 1em;
    background: hsl(233deg 36% 38%);
    color: hsl(0 0 100);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    width: 30%;
    align-self: center;
  }
  
  .footer {
    display: flex;
    font-size: 0.7em;
    color: hsl(0deg 0% 37%);
    gap: 14em;
    padding-bottom: 10em;
    align-self: center;
  }
  
  .footer span {
    cursor: pointer;
  }
  
  .footer span:hover {
    text-decoration: underline;
  }
  .message{
    align-self: center;
    color: red;
    font-size: larger;
    font-weight: bold;

  }


  


